@font-face {
	font-family: Cardinal;
	src: url('Cardinal.ttf') format('truetype');
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 60px;
	padding-bottom: 20px;
	background-image: url('img/parcho12.jpg');
	background-attachment: fixed;
	font-family:Cardinal;
    font-size:20px;
}

.littledown{
    margin-top:50px;
}

img.slide_image{
    width:800px;
    height:300px;
}

h2{
	font-family: Cardinal;
    font-size:40px;
    margin-bottom:20px;
}

h3{
	font-family: Cardinal;
    font-size:30px;
    margin-bottom:20px;
}

h4{
	font-family: Cardinal;
    font-size:20px;
    margin-bottom:20px;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
	max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.jumbotron {
		margin-top: 20px;
	}
	.body-content {
		padding: 0;
	}
}

/*Caroussel*/

.cadre{
     width:880px;
     height:430px;
     background:url(img/cadre_2.png) no-repeat;
     background-color:transparent;
     z-index:5;
     margin-bottom:-30px;
 }

.interieur_cadre{
    padding-top:73px;
    padding-left:59px;
    padding-right:59px;
    vertical-align:middle;
    z-index:2
}

/*Gestion du caroussel*/
#caroussel_main{
	margin-bottom: 20px;
}

.carousel_control{
	border-radius:10px;
}
/*Gestion du menuliste*/
.pannonceau{
    background: url(img/Pannonceau.png) no-repeat;
    background-size:100%;
    background-color:transparent;
    padding-top:75px;
    padding-bottom:15px;
    width:260px;
    color:#efefef;
}

.menu{
    text-align:center;
    font-size:40px;
}
.menuliste {
	background-image: url('img/banderole_menu.png');
	background-color:transparent;
	border:none;
	height:60px;
    width:260px;
	text-align:center;
	padding:10px;
}

a.menuliste:hover{
	background-color: rgba(255, 255, 255, 0.5);
}

 /* Boutons */

 .bouton_valid a{
     display: inline-block;
 }


 /*Détail de l'article*/

 
 .photo{
     width:730px;
     height:567px;
     background-image:url(img/cadre.gif);
     z-index:5;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     margin-bottom:30px;
 }

 .photo img{
     padding-left:75px;
     padding-top:74px;
 }

 /* Ajout d'article*/

 .champ_texte *{
     display: inline-block;
 }

 .panelwood {
    background: url(img/Bois.jpg) no-repeat;
    background-size:cover;
    background-color:transparent;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    padding:15px;
    padding-left:40px;
 }

 .panelwood *, .panelwood div a{
     color:#efefef;
 }

 .panelwood input, .panelwood textarea{
     color:black;
 }

 .champ_texte h3{
     width:150px;
 }

 .bouton_wood{
	background-image: url('img/banderole_menu.png');
	background-color:transparent;
	border:none;
	height:60px;
    width:260px;
	text-align:center;
	padding:10px;
 }

 .bouton_wood a{
    color:#efefef;
 }

.bouton_wood:hover{
    cursor:pointer;
	background-color: rgba(255, 255, 255, 0.5);
    text-decoration:none;
    color:white;
}

 .panelwood input.bouton_asp{
    color:white;
    text-align:center;
    padding-bottom:40px;
}

 /* Petite annonce */

 .annonce{
     text-align:justify;
     height:400px;
 }

 .annonce .thumbnail{
    height:400px;
    background: url(img/Parchemin_vierge_2.png) no-repeat;
    background-size:100%;
    background-color:transparent;
    border:none;
    padding:35px;
    padding-top:65px;
 }

 .annonce .thumbnail img{
     width:80%;
     height:100px;
 }

 /*Page erreur*/

 #img_erreur{
     margin-left:-2px;
     width:658px;
     height:493px;
     z-index:1;
 }